body {
    width: 1600px;
    margin: 0 auto;
}
.body-wrapper{
    width: 1600px;
    height: 1000px;
    background: no-repeat url("./images/bg_coffee.png");
    position: relative;
}

.mini-coffee-name-wrapper {

    display: flex;
    position: absolute;
    bottom: 42px;
    background-color: black;
}

.mini-coffee-name-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: left;
    margin: 16px 20px;
}

.coffee-name-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 52px;
    left: 500px;
    background-color: white;
    border: 2px solid red;
    padding: 20px 155px 20px 55px;

}

.coffe-name-text_wrapper {
    display: flex;
}

.coffee-name-grade_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coffee-name-grade_wrapper-group_star_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
}

.coffee-name-grade_wrapper-group_star_wrapper-star{
    display: flex;
    align-items: center;
}

.coffee-name-grade_wrapper-group_star_wrapper-star:last-child{
    margin-left: 16px;
}

.coffee-name-grade_wrapper-rate_counter {
    margin-left: 16px;
}

.coffee-name-grade_wrapper-rate_counter-text {
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.big-coffee-name-text {
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    color: black;
    text-align: left;
}