body {
    width: 1600px;
    margin: 0 auto;
}
.body-wrapper{
    width: 1600px;
    height: 1000px;
    background: no-repeat url("./images/bg_coffee.png");
    position: relative;
}

.mini-coffee-name-wrapper {
    display: flex;
    position: absolute;
    bottom: 42px;
    background-color: black;
}

.mini-coffee-name-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: left;
    margin: 16px 20px;
}

.coffee-name-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 52px;
    left: 500px;
    background-color: white;
    border: 2px solid red;
    padding: 20px 155px 20px 55px;

}

.coffee-name-text_wrapper {
    display: flex;
}

.coffee-name-grade_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coffee-name-grade_wrapper-group_star_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
}

.coffee-name-grade_wrapper-group_star_wrapper-star{
    display: flex;
    align-items: center;
}

.coffee-name-grade_wrapper-group_star_wrapper-star:last-child{
    margin-left: 16px;
}

.coffee-name-grade_wrapper-rate_counter {
    margin-left: 16px;
}

.coffee-name-grade_wrapper-rate_counter-text {
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.big-coffee-name-text {
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    color: black;
    text-align: left;
}

.coffee-recipe-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 256px;
    left: 757px;
    border: 2px solid red;
}

.coffee-recipe-characteristics-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 66px;
}

.coffee-recipe-characteristics-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}

.coffee-recipe-characteristics-item-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coffee-recipe-characteristics-item-text-wrapper {
    display: flex;
    flex-direction: column;
}

.top-text {
    font-size: 12px;
    font-weight: 400;
    color: black;
}

.bottom-text {
    font-size: 14px;
    font-weight: bold;
    color: #FFA41B;
}

.coffee-recipe-description-wrapper {
    margin-top: 31px;
    display: flex;
}
.coffee-recipe-description-text {
    font-size: 18px;
    font-style: italic;
    line-height: 31.4px;
    font-weight: 400;
    color: black;
}

.coffee-recipe-ingredients-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.coffee-recipe-ingredients-header-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.coffee-recipe-ingredients-header-text {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}

.coffee-recipe-ingredients-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.coffee-recipe-ingredients-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}

.coffee-recipe-ingredients-list-item-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.8);
}